/* Basic settings */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Navigation */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  color: #f4f4f4;
  transition: color 0.5s ease-in;
}

/* Hero Section */
.hero {
  background-color: #1e90ff;
  color: white;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.hero-image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.hero-image img {
  border-radius: 50%;
  max-width: 100%;
  width: 200px;
  height: auto;
  border: 5px solid white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.hero-text h2 {
  font-size: 2em;
  line-height:0%;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-text p {
  line-height:100%;
}

/* Sections */

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.about-section,
.project-section,
.contact-section {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.section-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.primary-border {
  border-bottom: 2px solid #1e90ff;
}

/* Project section */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: calc(33% - 20px);
  margin-bottom: 20px;
}

.project img {
  width: 100%;
  height: auto;
}

.project h3 {
  text-align: center;
  margin: 10px 0;
}

/* Contact section */
.contact-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.contact-item img {
  width: 60px;
  height: 60px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

/* Responsive settings */
@media screen and (max-width: 768px) {
  .project {
    width: calc(50% - 20px);
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .project {
    width: 100%;
  }
}